<div mat-dialog-container>
	<h2 mat-dialog-title>
		<mat-toolbar role="toolbar" class="dialog-header">
			<span>Employee Details</span>
		</mat-toolbar>
	</h2>
	<mat-dialog-content>
		<mat-grid-list cols="2" rowHeight="80px">
			<mat-grid-tile>
				<div>
					<label style="display:block;">Name</label>
					<input [(ngModel)]="data.name"/>
				</div>
			</mat-grid-tile>
			<mat-grid-tile>
				<div>
					<label style="display:block;">Company Name</label>
					<input [(ngModel)]="data.companyName"/>
				</div>
			</mat-grid-tile>
			<mat-grid-tile>
				<div>
					<label style="display:block;">Email Id</label>
					<input [(ngModel)]="data.emailId"/>
				</div>
			</mat-grid-tile>
			<mat-grid-tile>
				<div>
					<label style="display:block;">Contact No</label>
					<input [(ngModel)]="data.contactNo"/>
				</div>
			</mat-grid-tile>
			<mat-grid-tile>
				<div>
					<label style="display:block;">Designation</label>
					<input [(ngModel)]="data.designation"/>
				</div>
			</mat-grid-tile>
		</mat-grid-list>
	</mat-dialog-content>
	<mat-dialog-actions style="display: flex;justify-content:flex-end;">
		<button mat-raised-button color="primary" [mat-dialog-close]="data" cdkFocusInitial>Save</button>
		<button mat-raised-button color="primary" mat-dialog-close mat-dialog-close="Cancel">Cancel</button>
	</mat-dialog-actions>
</div>
