<div mat-dialog-container>
	<h2 mat-dialog-title>
		<mat-toolbar role="toolbar" class="dialog-header">
			<span>Confirm Delete</span>
		</mat-toolbar>
	</h2>
	<mat-dialog-content>
		<label>Are you sure you want to delete this employee?</label>
	</mat-dialog-content>
	<mat-dialog-actions style="display: flex;justify-content:flex-end;margin-top:10px;">
		<button mat-raised-button color="primary" mat-dialog-close mat-dialog-close="Yes">Yes</button>
		<button mat-raised-button color="primary" mat-dialog-close mat-dialog-close="Cancel">Cancel</button>
	</mat-dialog-actions>
</div>

